div {
  font-family: "Noto Sans KR", sans-serif;
}

.AboutContainer {
  background-color: black;
  color: white;
  height: 800px;
  padding-top: 150px;
}

.AboutContainer h1 {
  color: rgb(146, 142, 142);
  font-weight: 800;
}

.AboutContainerTitle {
  font-size: 40px;
  text-align: center;
}
.AboutBox {
  display: grid;
  grid-template-columns: 50% 50%;
}

.WhoAmI {
  margin-top: 12%;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
}

.WhatILike {
  margin-top: 12%;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
}

.typeLike {
  font-size: 18px;
  margin-top: 12%;
}

.AboutLine {
  width: 200px;
  margin-left: 37%;
}
