.ConnectContainer {
  background-color: black;
  color: white;
  height: 550px;
  margin-top: 50px;
  margin-right: 15%;
}

.ConnectBox {
  text-align: right;
}

.Name1 {
  font-size: 45px;
  font-weight: 900;
  color: rgb(160, 156, 156);
}

.Name2 {
  font-size: 25px;
  font-weight: 900;
  color: rgb(160, 156, 156);
}

.ConnectContent {
  margin-top: 3%;
  font-weight: 100;
  font-size: 18px;
}

.Content1,
.Content2 {
  color: rgb(160, 156, 156);
}
.Content2,
.Email {
  margin-top: 3%;
}

.Other {
  margin-top: 6%;
}

.git {
  margin-right: 20px;
  text-decoration: none;
  color: rgb(160, 156, 156);
  transition: 0.5s;
}

.velog {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: rgb(160, 156, 156);
  transition: 0.5s;
}

.insta {
  margin-left: 20px;
  text-decoration: none;
  color: rgb(160, 156, 156);
  transition: 0.5s;
}

.git:hover,
.velog:hover,
.insta:hover {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}
