.HeaderContainer {
  display: flex;
  background-color: black;
  width: 100%;
  color: white;
  position: fixed;
  z-index: 999;
  height: 150px;
  opacity: 0.9;
}

.HeaderContainer div {
  opacity: 0.9;
}

.HeaderTitle {
  margin-top: 3%;
  color: white;
  font-size: 40px;
  animation: rotation linear infinite 3s;
  text-decoration: none;
  padding-left: 7.5%;
  transition: 1s;
}

.HeaderTitle:hover {
  text-decoration: none;
  color: rgba(117, 114, 114, 0.856);
  transition: 1s;
  transform: rotateY(360deg);
  transform-origin: center;
}

.HeaderBox {
  margin-left: 55%;
  margin-top: 4%;
}

.NavBtn {
  padding: 15px;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  z-index: 10;
}

.NavBtn:hover {
  text-decoration: none;
  color: rgba(117, 114, 114, 0.856);
  transition: 1s;
}
