.ProjectContainer {
  position: relative;
  background-color: black;
  color: white;
  height: 4400px;
}

.ProjectBox1 {
  padding-top: 100px;
  padding-left: 7.5%;
  z-index: 1;
  opacity: 0;
  transition: 1s;
}

.ProjectImg1 {
  margin-top: 10%;
  width: 60%;
  text-align: center;
  position: relative;
}

.ProjectBox1Scrolled {
  opacity: 1;
  transition: 2s;
}

.ProjectContainerTitle {
  margin-top: 150px;
  text-align: center;
  font-size: 40px;
}

.ProjectBox2 {
  position: relative;
  text-align: right;
  padding-top: 220px;
  padding-right: 7.5%;
  z-index: 1;
  opacity: 0;
  transition: 1s;
}

.ProjectImg2 {
  margin-top: 10%;
  width: 60%;
  margin-left: 20%;
  text-align: center;
  position: relative;
}

.ProjectBox2Scrolled {
  opacity: 1;
  transition: 2s;
}

.title1 {
  font-size: 15px;
  font-weight: 100;
}

.ProjectLine1 {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 180px;
  color: white;
  background: white;
  border: none;
  height: 1px;
}

.ProjectLine2 {
  margin-left: 87%;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 180px;
  color: white;
  background: white;
  border: none;
  height: 1px;
}

.ProjectName1 {
  font-size: 35px;
  font-weight: 600;
}

.TechStacks1 {
  font-size: 15px;
}

.VisitBtn1 {
  margin-left: 40px;
}

.ProjectImg {
  margin-left: 0%;
}

button {
  font-size: 12px;
  background-color: gray;
  color: white;
  width: 120px;
  height: 50px;
  border: none;
  transition: 1s;
}

button:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}

.ProjectBox3 {
  padding-top: 220px;
  padding-left: 7.5%;
  z-index: 1;
  opacity: 0;
  transition: 1s;
}

.ProjectImg3 {
  margin-top: 10%;
  width: 60%;
  text-align: center;
  position: relative;
}

.ProjectBox3Scrolled {
  opacity: 1;
  transition: 2s;
}
